@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap");

header {
  padding: 20px 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo-telos {
  width: 94px;
  height: 30px;
}

.button-enter {
  width: 156px;
  height: 42px;
  background-color: #f3edf7;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 18px;
  position: relative;
  font-size: 16px;
  font-family: "Lato";
}

.button-enter i {
  position: absolute;
  left: 30px;
}

.button-enter:hover {
  border: 1px solid #450463;
}
